{% extends "base.html" %} {% block title %} {{ title }} {% endblock %} {% block
content %}
<div style="padding-top: 50px" class="accordion" id="accordionExample">
  {% include "partials/message_flasher.html" %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Change Name - {{ user.name }}
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <form action="/update/user/name" method="POST">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              required
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Change Password
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <form action="/update/user/password" method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.old_password.label }} {{
            form.old_password(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.new_password1.label }} {{
            form.new_password1(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.new_password2.label }} {{
            form.new_password2(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-primary btn-block") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
