<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="updatedTaskData">Task description</label>
          <textarea class="form-control" id="updatedTaskData" name="updatedTaskData" value="" rows="3"></textarea>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-block" onclick="updateTask()">Submit</button>
      </div>
    </div>
  </div>
</div>
</form>