{% extends "base.html" %} {% block title %} {{ title }} {% endblock %} {% block
content %}
<div
  style="padding-top: 50px"
  class="row justify-content-center align-items-center"
>
  <div class="signup-form">
    <h1>Sign In</h1>
    <hr />
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      <div class="row justify-content-between align-items-center">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <form action="/signin" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label }} {{ form.username(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
      </div>
      <br />
      {{ form.submit(class="btn btn-primary btn-block") }}
    </form>
  </div>
</div>
{% endblock %}
