{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div style="padding-top: 50px" class="row justify-content-center align-items-center">
  <div class="signup-form">
    <h1>Sign Up</h1>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      <div class="row justify-content-between align-items-center">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/signup" method="POST">
      {{ form.username.label }}
      {{ form.username() }}
      {{ form.submit() }}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
</div>
{% endblock %}